<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Flight name</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Arrival/Departure</th>
        <!-- <th scope="col">Airport Code</th> -->
        <th scope="col">Airport Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights; let i = index">
        <td>{{flight.flight_id}}</td>
        <td>{{flight.schedule_time | date}}</td>
        <td>{{flight.schedule_time | date}}</td>
        <td>{{flight.arr_dep}}</td>
        <!-- <td>{{flight.airport}}</td> -->
        <td>{{airportMap[flight.airport.toUpperCase()]}}</td>
      </tr>
    </tbody>
  </table>

  <span *ngIf="!flights.length">No data found</span>
</div>

