<div class="container d-flex flex-column h-100">
  <app-nav-bar></app-nav-bar>
  <app-filter-dropdown caption="Airport" [options]="airportMap" [selected]="selectedAirport" [allowNotSelected]="false" (valueChanged)="onAirportChange($event)"></app-filter-dropdown>
  <app-flights-table *ngIf="!isLoading; else loading" [flights]="flightsByAirport" [selectedAirportCode]="selectedAirport"></app-flights-table>

  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
